body{
    background-color: #282B28;
}

#title{
    color: #83BCA9;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-size: 84.608px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


